html,body{
  margin:0;
  font-family: sans-serif;
  overflow-x: hidden;
}
p{
  text-align: center;
}
#second{
  background-color: yellow;
}
h1{
  margin-left: 150px;
}
#photo{
  width: 300px;
  height: 300px;
  margin-left: 100px;
}
#blogi{
  height: 100%;
  width: 500px;
  margin-left: 450px;
  margin-right: 450px;
}
#klip{
  margin-left: 10px;
}
